@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--app-bg: var(--gray1);
		--cmdk-shadow: 0 16px 70px rgb(0 0 0 / 20%);

		--lowContrast: #ffffff;
		--highContrast: #000000;

		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--primary: #00aa45;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: #00aa45;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply box-border bg-background text-foreground;
	}
}

@layer utilities {
	.min-h-screen {
		min-height: 100vh;
		min-height: 100dvh;
	}
	.h-screen {
		height: 100vh;
		height: 100dvh;
	}
}

/* HTML: <div class="loader"></div> */
.loader {
	width: 50px;
	aspect-ratio: 1;
	display: grid;
	border-radius: 50%;
	background:
		linear-gradient(0deg, rgb(0 0 0/50%) 30%, #0000 0 70%, rgb(0 0 0/100%) 0) 50%/8% 100%,
		linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0) 50%/100% 8%;
	background-repeat: no-repeat;
	animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
	content: '';
	grid-area: 1/1;
	border-radius: 50%;
	background: inherit;
	opacity: 0.915;
	transform: rotate(30deg);
}
.loader::after {
	opacity: 0.83;
	transform: rotate(60deg);
}
@keyframes l23 {
	100% {
		transform: rotate(1turn);
	}
}

.blinking-cursor {
	animation: blink 1s steps(2, start) infinite;
	color: #000;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

.command-menu {
	[cmdk-root] {
		max-width: 640px;
		width: 100%;
		background: #ffffff;
		border-radius: 8px;
		overflow: hidden;
		padding: 0;
		box-shadow: var(--cmdk-shadow);
		outline: none;

		.dark & {
			background: linear-gradient(136.61deg, rgb(39, 40, 43) 13.72%, rgb(45, 46, 49) 74.3%);
		}
	}

	[cmdk-badge] {
		height: 24px;
		padding: 0 8px;
		font-size: 12px;
		color: var(--gray11);
		background: var(--gray3);
		border-radius: 4px;
		width: fit-content;
		display: flex;
		align-items: center;
		margin: 16px 16px 0;
	}

	[cmdk-shortcuts] {
		display: flex;
		margin-left: auto;
		gap: 8px;
		background: var(--secondary);
		kbd {
			font-size: 13px;
			color: var(--secondary-foreground);
		}
	}

	[cmdk-input] {
		border: none;
		width: 100%;
		font-size: 14px;
		padding: 10px 20px;
		outline: none;
		background: var(--bg);
		color: var(--gray12);
		border-bottom: 1px solid var(--gray6);
		border-radius: 0;
		caret-color: var(--primary);
		margin: 0;

		&::placeholder {
			color: var(--gray9);
		}
	}

	[cmdk-item] {
		content-visibility: auto;
		cursor: pointer;
		height: 48px;
		font-size: 14px;
		display: flex;
		align-items: center;
		gap: 12px;
		padding: 0 10px;
		margin: 0 6px;
		color: var(--gray12);
		border-radius: 8px;
		user-select: none;
		will-change: background, color;
		transition: all 150ms ease;
		transition-property: none;
		position: relative;

		&[data-selected='true'] {
			/* background: var(--accent); */

			svg {
				color: var(--gray12);
			}
		}

		&[data-disabled='true'] {
			color: var(--gray8);
			cursor: not-allowed;
		}

		&:active {
			transition-property: background;
			background: var(--gray4);
		}

		& + [cmdk-item] {
			margin-top: 4px;
		}

		svg {
			width: 16px;
			height: 16px;
			color: var(--gray10);
		}
	}

	[cmdk-list] {
		height: min(300px, var(--cmdk-list-height));
		max-height: 400px;
		overflow: auto;
		overscroll-behavior: contain;
		transition: 100ms ease;
		transition-property: height;
	}

	[cmdk-group-heading] {
		user-select: none;
		font-size: 12px;
		color: var(--gray11);
		padding: 0 12px;
		display: flex;
		align-items: center;
	}

	[cmdk-empty] {
		font-size: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 64px;
		white-space: pre-wrap;
		color: var(--gray11);
	}
}

/* this has been added so popover in multi-select takes the width of the pop over trigger */
.popover-width {
	width: var(--radix-popover-trigger-width);
	max-height: var(--radix-popover-content-available-height);
}
