openapi: 3.0.0

servers:
  - description: WapiKit Server
    url: https://api.wapikit.com/api

info:
  version: "0.0.1"
  title: Wapikit
  description: The API collection for WapiKit
  license:
    name: AGPL-3.0
    url: https://github.com/sarthakjdev/wapikit/blob/master/LICENSE

tags:
  - name: Auth
    description: Auth API

  - name: Lists
    description: User API

  - name: Organization
    description: Organization API

  - name: Contacts
    description: Contacts API

  - name: Campaigns
    description: Campaigns API

  - name: Messages
    description: Messages API

  - name: Conversations
    description: Conversations API

  - name: System
    description: System API

  - name: Miscellaneous
    description: Miscellaneous API

paths:
  /health-check:
    get:
      tags:
        - Miscellaneous
      description: healthcheck endpoint
      operationId: getHealthCheck
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean

  /auth/login:
    post:
      tags:
        - Auth
      description: login endpoint
      operationId: login
      requestBody:
        description: login credentials
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequestBodySchema"
      responses:
        "200":
          description: login response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponseBodySchema"

        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /user:
    get:
      tags:
        - User
      description: returns the user object
      operationId: getUser
      responses:
        "200":
          description: user object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserResponseSchema"

  /auth/api-keys:
    get:
      tags:
        - Auth
      description: returns all api keys
      operationId: getApiKeys
      responses:
        "200":
          description: api keys list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApiKeysResponseSchema"

  /auth/switch:
    post:
      tags:
        - Auth
      description: switch user organization
      operationId: switchOrganization
      requestBody:
        description: organization id
        content:
          application/json:
            schema:
              type: object
              properties:
                organizationId:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SwitchOrganizationResponseSchema"

  /organization:
    post:
      tags:
        - Organization
      description: create a new organization
      operationId: createOrganization
      requestBody:
        description: new organization info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewOrganizationSchema"

      responses:
        "200":
          description: organization object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewOrganizationResponseSchema"

    get:
      tags:
        - Organization
      description: returns all organizations
      operationId: getUserOrganizations
      parameters:
        - in: query
          name: page
          required: true
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          required: true
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: sortBy
          description: sorting order
          schema:
            $ref: "#/components/schemas/OrderEnum"
      responses:
        "200":
          description: organizations list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationsResponseSchema"

  /organization/{id}:
    get:
      tags:
        - Organization
      description: returns the organization object
      operationId: getOrganizationById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization you want to get.
          schema:
            type: string
      responses:
        "200":
          description: organization object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationByIdResponseSchema"

    post:
      tags:
        - Organization
      description: update an organization
      operationId: updateOrganization
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization you want to update.
          schema:
            type: string
      requestBody:
        description: updated organization info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationSchema"

      responses:
        "200":
          description: organization object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrganizationByIdResponseSchema"

  /organization/roles:
    get:
      tags:
        - Organization
      description: returns all organization roles
      operationId: getOrganizationRoles
      parameters:
        - in: query
          name: page
          required: true
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          required: true
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: sortBy
          description: sorting order
          schema:
            $ref: "#/components/schemas/OrderEnum"
      responses:
        "200":
          description: organization roles list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationRolesResponseSchema"

    post:
      tags:
        - Organization
      description: create a new organization role
      operationId: createOrganizationRole
      requestBody:
        description: new organization role info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewOrganizationRoleSchema"

      responses:
        "200":
          description: role object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewRoleResponseSchema"

  /organization/roles/{id}:
    get:
      tags:
        - Organization
      description: returns a single organization role
      operationId: getOrganizationRoleById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the role you want to get.
          schema:
            type: string
      responses:
        "200":
          description: organization role object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRoleByIdResponseSchema"

    post:
      tags:
        - Organization
      description: updates a organization role
      operationId: updateOrganizationRoleById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the role you want to update.
          schema:
            type: string
      requestBody:
        description: update an organization role info
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                value:
                  type: string

      responses:
        "200":
          description: role object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateRoleByIdResponseSchema"

    delete:
      tags:
        - Organization
      description: delete an organization role
      operationId: deleteOrganizationRoleById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization role you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteRoleByIdResponseSchema"

  /organization/tags:
    get:
      tags:
        - Organization
      description: returns all organization tags
      operationId: getOrganizationTags
      parameters:
        - in: query
          name: page
          required: true
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          required: true
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: sortBy
          description: sorting order
          schema:
            $ref: "#/components/schemas/OrderEnum"
      responses:
        "200":
          description: organization tags list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationTagsResponseSchema"

    post:
      tags:
        - Organization
      description: create a new organization tag
      operationId: createOrganizationTag
      requestBody:
        description: new organization tag info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewOrganizationTagSchema"

      responses:
        "200":
          description: tag object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewOrganizationTagResponseSchema"

  /organization/settings:
    get:
      tags:
        - Organization
      description: returns all settings
      operationId: getSettings
      responses:
        "200":
          description: settings list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationSettingsResponseSchema"

    post:
      tags:
        - Organization
      description: updates organization setting
      operationId: updateSettings
      requestBody:
        description: updated setting info
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                value:
                  type: string

      responses:
        "200":
          description: setting object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrganizationSettingsResponseSchema"

  /organization/members:
    get:
      tags:
        - Organization
      description: returns all organization members
      operationId: getOrganizationMembers
      parameters:
        - in: query
          name: page
          required: true
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          required: true
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: sortBy
          description: sorting order
          schema:
            $ref: "#/components/schemas/OrderEnum"
      responses:
        "200":
          description: organization members list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationMembersResponseSchema"

    post:
      tags:
        - Organization Members
      description: invite a new organization member
      operationId: createOrganizationMember
      requestBody:
        description: new organization member info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewOrganizationMemberInviteSchemaSchema"

      responses:
        "200":
          description: user object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOrganizationMemberResponseSchema"

  /organization/members/{id}:
    get:
      tags:
        - Organization Members
      description: returns a single organization member
      operationId: getOrganizationMemberById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization member you want to get.
          schema:
            type: string
      responses:
        "200":
          description: organization member object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationMemberByIdResponseSchema"

    post:
      tags:
        - Organization Members
      description: update a organization member
      operationId: updateOrganizationMemberById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization member you want to update.
          schema:
            type: string
      requestBody:
        description: updated organization member info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationMemberSchema"

      responses:
        "200":
          description: user object
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UpdateOrganizationMemberByIdResponseSchema"

    delete:
      tags:
        - Organization Members
      description: delete an organization member
      operationId: deleteOrganizationMemberById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization member you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteOrganizationMemberByIdResponseSchema"

  /organization/members/{id}/role:
    post:
      tags:
        - Organization Members
      description: update a organization member role
      operationId: updateOrganizationMemberRoleById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization member you want to update.
          schema:
            type: string
      requestBody:
        description: updated organization member role info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationMemberRoleSchema"

      responses:
        "200":
          description: user object
          content:
            application/json:
              schema:
                type: object
                properties:
                  member:
                    $ref: "#/components/schemas/OrganizationMemberSchema"
                required:
                  - member

  /organization/syncTemplates:
    get:
      tags:
        - Miscellaneous
      description: returns all templates
      operationId: getAllTemplates
      responses:
        "200":
          description: templates list
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      type: object
                      properties:
                        uniqueId:
                          type: string
                        name:
                          type: string
                        content:
                          type: string
                        type:
                          type: string
                        createdAt:
                          type: string
                          format: date-time

  /organization/syncMobileNumbers:
    get:
      tags:
        - Miscellaneous
      description: returns all mobile numbers
      operationId: getAllMobileNumbers
      responses:
        "200":
          description: mobile numbers list
          content:
            application/json:
              schema:
                type: object
                properties:
                  mobileNumbers:
                    type: array
                    items:
                      type: object
                      properties:
                        uniqueId:
                          type: string
                        number:
                          type: string
                        createdAt:
                          type: string
                          format: date-time

  /contacts:
    get:
      tags:
        - Contacts
      description: returns all contacts.
      operationId: getContacts
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: list_id
          description: query subscribers with a list id.
          schema:
            type: string
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: sort by a field
          schema:
            type: string

      responses:
        "200":
          description: contacts list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactsResponseSchema"
    post:
      description: handles creation of new contact
      operationId: createContact
      tags:
        - Contacts
      requestBody:
        description: new contact info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewContactSchema"

      responses:
        "200":
          description: contact object
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    $ref: "#/components/schemas/ContactSchema"
                required:
                  - contact

        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    delete:
      description: handles contact deletion
      operationId: deleteContactsByList
      tags:
        - Contacts
      parameters:
        - in: query
          name: id
          required: true
          description: contact id/s to be deleted
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  "/contacts/{id}":
    get:
      description: handles the retrieval of a single contact by id.
      operationId: getContactById
      tags:
        - Contacts
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the contact you want to get.
          schema:
            type: string
      responses:
        "200":
          description: gets a single contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    post:
      description: modify contact data
      operationId: updateContactById
      tags:
        - Contacts
      parameters:
        - in: path
          name: id
          required: true
          description: The id of contact to update
          schema:
            type: string
      requestBody:
        description: updated contact info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContactSchema"
      responses:
        "200":
          description: returns updated contact.
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    $ref: "#/components/schemas/ContactSchema"
                required:
                  - contact

        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    delete:
      description: handles contact deletion based on id
      operationId: deleteContactById
      tags:
        - Contacts
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the contacts you want to delete.
          schema:
            type: string

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /lists:
    get:
      tags:
        - Lists
      description: returns all lists.
      operationId: getContactLists
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"

      responses:
        "200":
          description: list of contact lists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactListResponseSchema"
    post:
      description: handles creation of new list
      operationId: createList
      tags:
        - Lists
      requestBody:
        description: new list info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewContactListSchema"

      responses:
        "200":
          description: list object
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    $ref: "#/components/schemas/ContactListSchema"
                required:
                  - list

        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  "/lists/{id}":
    get:
      description: handles the retrieval of a single list by id.
      operationId: getListById
      tags:
        - Lists
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the list you want to get.
          schema:
            type: string # uniqueId

      responses:
        "200":
          description: gets a single list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactListByIdSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

    post:
      description: modify list data
      operationId: updateListById
      tags:
        - Lists
      parameters:
        - in: path
          name: id
          required: true
          description: The id of list to update
          schema:
            type: string
      requestBody:
        description: updated list info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContactListSchema"
      responses:
        "200":
          description: returns updated list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    $ref: "#/components/schemas/ContactListSchema"
                required:
                  - list
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

    delete:
      description: handles list deletion based on id
      operationId: deleteListById
      tags:
        - Lists
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the list you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /campaigns:
    get:
      tags:
        - Campaigns
      description: returns all campaigns.
      operationId: getCampaigns
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: sort by a field
          schema:
            $ref: "#/components/schemas/CampaignStatusEnum"

      responses:
        "200":
          description: list of campaigns
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/GetCampaignResponseSchema"

    post:
      description: handles creation of new campaign
      operationId: createCampaign
      tags:
        - Campaigns
      requestBody:
        description: new campaign info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewCampaignSchema"

      responses:
        "200":
          description: campaign object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewCampaignResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  "/campaigns/{id}":
    get:
      description: handles the retrieval of a single campaign by id.
      operationId: getCampaignById
      tags:
        - Campaigns
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the campaign you want to get.
          schema:
            type: string # uniqueId

      responses:
        "200":
          description: gets a single campaign.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCampaignByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    post:
      description: modify campaign data
      operationId: updateCampaignById
      tags:
        - Campaigns
      parameters:
        - in: path
          name: id
          required: true
          description: The id of campaign to update
          schema:
            type: string
      requestBody:
        description: updated campaign info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCampaignSchema"
      responses:
        "200":
          description: returns updated campaign.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewCampaignResponseSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    delete:
      description: handles campaign deletion based on id
      operationId: deleteCampaignById
      tags:
        - Campaigns
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the campaign you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /conversations:
    get:
      tags:
        - Conversations
      description: returns all conversations.
      operationId: getConversations
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
          required: true
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: sort by a field
          schema:
            type: string
            enum:
              - resolved
              - unresolved
        - name: contact_id
          in: query
          description: query conversations with a contact id.
          schema:
            type: string
        - name: campaign_id
          in: query
          description: query conversations with a campaign id.
          schema:
            type: string
        - name: list_id
          in: query
          description: query conversations with a list id.
          schema:
            type: string
        - name: message_id
          in: query
          description: query conversations with a message id.
          schema:
            type: string

      responses:
        "200":
          description: list of conversations
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversations:
                    type: array
                    items:
                      $ref: "#/components/schemas/ConversationSchema"
                  paginationMeta:
                    $ref: "#/components/schemas/PaginationMeta"

  /messages:
    get:
      tags:
        - Messages
      description: returns all messages.
      operationId: getMessages
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: status of the message
          schema:
            type: string
            enum:
              - read
              - unread
              - sent
              - failed
        - in: query
          name: direction
          description: direction of the message
          schema:
            $ref: "#/components/schemas/MessageDirectionEnum"
        - name: contact_id
          in: query
          description: query messages with a contact id.
          schema:
            type: string
        - name: campaign_id
          in: query
          description: query messages with a campaign id.
          schema:
            type: string
        - name: list_id
          in: query
          description: query messages with a list id.
          schema:
            type: string
        - name: conversation_id
          in: query
          description: query messages with a conversation id.
          schema:
            type: string

      responses:
        "200":
          description: list of messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/MessageSchema"
                  paginationMeta:
                    $ref: "#/components/schemas/PaginationMeta"

  /integrations:
    get:
      tags:
        - Integrations
      description: returns all integrations.
      operationId: getIntegrations
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: status of the integration
          schema:
            $ref: "#/components/schemas/IntegrationStatusEnum"

      responses:
        "200":
          description: list of integrations
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrations:
                    type: array
                    items:
                      $ref: "#/components/schemas/IntegrationSchema"
                  paginationMeta:
                    $ref: "#/components/schemas/PaginationMeta"

  /templates/{id}:
    get:
      tags:
        - Templates
      description: returns a single template
      operationId: getTemplateById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the template you want to get.
          schema:
            type: string
      responses:
        "200":
          description: template object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTemplateByIdResponseSchema"

  /templates:
    get:
      tags:
        - Templates
      description: returns all templates
      operationId: getTemplates
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"

      responses:
        "200":
          description: list of templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      $ref: "#/components/schemas/TemplateSchema"
                  paginationMeta:
                    $ref: "#/components/schemas/PaginationMeta"

components:
  schemas:
    OrderEnum:
      type: string
      enum:
        - asc
        - desc

    UserRoleEnum:
      type: string
      enum:
        - Owner
        - Admin
        - Member

    CampaignStatusEnum:
      type: string
      enum:
        - Draft
        - Sent
        - Scheduled
        - Running
        - Cancelled

    UserAccountStatusEnum:
      type: string
      enum:
        - Active
        - Deleted
        - Suspended

    MessageStatusEnum:
      type: string
      enum:
        - Read
        - Unread
        - Sent
        - Delivered
        - UnDelivered
        - Failed

    MessageDirectionEnum:
      type: string
      enum:
        - InBound
        - OutBound

    MessageTypeEnum:
      type: string
      enum:
        - Text
        - Image
        - Video
        - Audio
        - Document
        - Sticker
        - Location
        - Contacts
        - Reaction
        - Address

    ContactStatusEnum:
      type: string
      enum:
        - Active
        - Inactive
        - Blocked

    RolePermissionEnum:
      type: string
      enum:
        - GetTeam
        - UpdateTeam
        - GetCampaign
        - UpdateCampaign
        - getConversations
        - UpdateConversation
        - MessageInConversation
        - GetList
        - UpdateList
        - GetApiKey
        - UpdateApikey
        - GetAppSettings
        - UpdateAppSettings

    IntegrationStatusEnum:
      type: string
      enum:
        - Active
        - Inactive

    IntegrationSchema:
      type: object
      properties:
        uniqueId:
          type: string
        name:
          type: string
        type:
          type: string
        slug:
          type: string
        createdAt:
          type: string
          format: date-time
        status:
          $ref: "#/components/schemas/IntegrationStatusEnum"

    UserSchema:
      type: object
      properties:
        uniqueId:
          type: string
        username:
          type: string
        email:
          type: string
        name:
          type: string
        createdAt:
          type: string
          format: date-time
        profilePicture:
          type: string
        currentOrganizationRole":
          type: string
        organizations:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationSchema"
      required:
        - uniqueId
        - username
        - email
        - name
        - createdAt
        - organizations

    GetUserResponseSchema:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/UserSchema"
      required:
        - user

    OrganizationSchema:
      type: object
      properties:
        uniqueId:
          type: string
        name:
          type: string
        createdAt:
          type: string
          format: date-time
        websiteUrl:
          type: string
        logoUrl:
          type: string
        faviconUrl:
          type: string
      required:
        - uniqueId
        - name
        - createdAt

    OrganizationMemberSchema:
      type: object
      properties:
        uniqueId:
          type: string
        createdAt:
          type: string
          format: date-time
        accessLevel:
          $ref: "#/components/schemas/UserRoleEnum"
        name:
          type: string
        email:
          type: string
        roles:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationRoleSchema"
      required:
        - uniqueId
        - createdAt
        - accessLevel
        - name
        - email
        - roles

    LoginRequestBodySchema:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
        - username
        - password

    LoginResponseBodySchema:
      type: object
      properties:
        token:
          type: string
        isOnboardingCompleted:
          type: boolean
      required:
        - token
        - isOnboardingCompleted

    ApiKeySchema:
      type: object
      properties:
        uniqueId:
          type: string
        key:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
        - uniqueId
        - key
        - createdAt

    GetApiKeysResponseSchema:
      type: object
      properties:
        apiKeys:
          type: array
          items:
            $ref: "#/components/schemas/ApiKeySchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"
      required:
        - apiKeys
        - paginationMeta

    SwitchOrganizationResponseSchema:
      type: object
      properties:
        token:
          type: string
      required:
        - token

    GetCampaignResponseSchema:
      type: object
      properties:
        campaigns:
          type: array
          items:
            $ref: "#/components/schemas/CampaignSchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"
      required:
        - campaigns
        - paginationMeta

    CreateNewCampaignResponseSchema:
      type: object
      properties:
        campaign:
          $ref: "#/components/schemas/CampaignSchema"
      required:
        - campaign

    NewOrganizationTagSchema:
      type: object
      properties:
        name:
          type: string
      required:
        - name

    UpdateOrganizationMemberRoleSchema:
      type: object
      properties:
        roleUniqueId:
          type: string
        action:
          type: string
          enum:
            - add
            - remove
      required:
        - role
        - action

    GetOrganizationTagsResponseSchema:
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagSchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"
      required:
        - tags
        - paginationMeta

    CreateNewOrganizationTagResponseSchema:
      type: object
      properties:
        tag:
          $ref: "#/components/schemas/TagSchema"
      required:
        - tag

    GetContactListResponseSchema:
      type: object
      properties:
        lists:
          type: array
          items:
            $ref: "#/components/schemas/ContactListSchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"
      required:
        - lists
        - paginationMeta

    GetTemplateByIdResponseSchema:
      type: object
      properties:
        template:
          $ref: "#/components/schemas/TemplateSchema"
      required:
        - template

    GetContactsResponseSchema:
      type: object
      properties:
        contacts:
          type: array
          items:
            $ref: "#/components/schemas/ContactSchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"
      required:
        - contacts
        - paginationMeta

    GetContactByIdResponseSchema:
      type: object
      properties:
        contact:
          $ref: "#/components/schemas/ContactSchema"
      required:
        - contact

    GetContactListByIdSchema:
      type: object
      properties:
        list:
          $ref: "#/components/schemas/ContactListSchema"
      required:
        - list

    GetCampaignByIdResponseSchema:
      type: object
      properties:
        campaign:
          $ref: "#/components/schemas/CampaignSchema"
      required:
        - campaign

    NewOrganizationSchema:
      type: object
      properties:
        name:
          type: string
      required:
        - name

    UpdateOrganizationSchema:
      type: object
      properties:
        name:
          type: string

    CreateNewOrganizationResponseSchema:
      type: object
      properties:
        organization:
          $ref: "#/components/schemas/OrganizationSchema"
      required:
        - organization

    GetOrganizationsResponseSchema:
      type: object
      properties:
        organizations:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationSchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"
      required:
        - organizations
        - paginationMeta

    GetOrganizationByIdResponseSchema:
      type: object
      properties:
        organization:
          $ref: "#/components/schemas/OrganizationSchema"
      required:
        - organization

    UpdateOrganizationByIdResponseSchema:
      type: object
      properties:
        organization:
          $ref: "#/components/schemas/OrganizationSchema"
      required:
        - organization

    DeleteOrganizationResponseSchema:
      type: object
      properties:
        data:
          type: boolean
      required:
        - data

    UpdateOrganizationResponseSchema:
      type: object
      properties:
        organization:
          $ref: "#/components/schemas/OrganizationSchema"
      required:
        - organization

    GetOrganizationRolesResponseSchema:
      type: object
      properties:
        roles:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationRoleSchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"
      required:
        - roles
        - paginationMeta

    GetOrganizationSettingsResponseSchema:
      type: object
      properties:
        settings:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string

    UpdateOrganizationSettingsResponseSchema:
      type: object
      properties:
        setting:
          type: object
          properties:
            key:
              type: string
            value:
              type: string

    GetOrganizationMembersResponseSchema:
      type: object
      properties:
        members:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationMemberSchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"
      required:
        - members
        - paginationMeta

    GetOrganizationMemberRolesResponseSchema:
      type: object
      properties:
        roles:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationRoleSchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"
      required:
        - roles
        - paginationMeta

    GetOrganizationMemberByIdResponseSchema:
      type: object
      properties:
        member:
          $ref: "#/components/schemas/OrganizationMemberSchema"
      required:
        - member

    CreateOrganizationMemberResponseSchema:
      type: object
      properties:
        member:
          $ref: "#/components/schemas/OrganizationMemberSchema"
      required:
        - member

    UpdateOrganizationMemberByIdResponseSchema:
      type: object
      properties:
        member:
          $ref: "#/components/schemas/OrganizationMemberSchema"
      required:
        - member

    DeleteOrganizationMemberByIdResponseSchema:
      type: object
      properties:
        data:
          type: boolean
      required:
        - data

    GetRoleByIdResponseSchema:
      type: object
      properties:
        role:
          $ref: "#/components/schemas/OrganizationRoleSchema"
      required:
        - role

    CreateNewRoleResponseSchema:
      type: object
      properties:
        role:
          $ref: "#/components/schemas/OrganizationRoleSchema"
      required:
        - role

    UpdateRoleByIdResponseSchema:
      type: object
      properties:
        role:
          $ref: "#/components/schemas/OrganizationRoleSchema"
      required:
        - role

    DeleteRoleByIdResponseSchema:
      type: object
      properties:
        data:
          type: boolean
      required:
        - data

    ContactSchema:
      type: object
      properties:
        uniqueId:
          type: string
        name:
          type: string
        phone:
          type: string
        attributes:
          type: object
        createdAt:
          type: string
          format: date-time
        lists:
          type: array
          items:
            $ref: "#/components/schemas/ContactListSchema"
      required:
        - uniqueId
        - name
        - phone
        - attributes
        - createdAt
        - lists

    NewContactSchema:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        status:
          $ref: "#/components/schemas/ContactStatusEnum"
        attributes:
          type: object
        listsIds:
          type: array
          items:
            type: string
      required:
        - name
        - phone
        - attributes
        - listsIds
        - status

    NewOrganizationRoleSchema:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        permissions:
          type: array
          items:
            $ref: "#/components/schemas/RolePermissionEnum"
      required:
        - name
        - permissions

    OrganizationRoleSchema:
      type: object
      properties:
        uniqueId:
          type: string
        name:
          type: string
        description:
          type: string
        permissions:
          type: array
          items:
            $ref: "#/components/schemas/RolePermissionEnum"
      required:
        - uniqueId
        - name
        - permissions

    UpdateContactSchema:
      type: object
      properties:
        name:
          type: string
        status:
          $ref: "#/components/schemas/ContactStatusEnum"
        phone:
          type: string
        attributes:
          type: object
        lists:
          type: array
          items:
            type: string
      required:
        - name
        - phone
        - status
        - attributes

    TagSchema:
      type: object
      properties:
        name:
          type: string
        uniqueId:
          type: string
      required:
        - name
        - uniqueId

    ContactListSchema:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        numberOfContacts:
          type: integer
        numberOfCampaignsSent:
          type: integer
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagSchema"
        uniqueId:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
        - name
        - uniqueId
        - createdAt
        - numberOfContacts
        - numberOfCampaignsSent
        - tags
        - description

    NewContactListSchema:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagSchema"
        contactIds:
          type: array
          items:
            type: string
      required:
        - name
        - tags

    UpdateContactListSchema:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagSchema"
      required:
        - name
        - tags

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          format: int64
        per_page:
          type: integer
          format: int64
        total:
          type: integer
      required:
        - page
        - per_page
        - total

    NewOrganizationMemberInviteSchemaSchema:
      type: object
      properties:
        email:
          type: string
        roles:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationRoleSchema"
        accessLevel:
          $ref: "#/components/schemas/UserRoleEnum"
      required:
        - email
        - accessLevel

    UpdateOrganizationMemberSchema:
      type: object
      properties:
        accessLevel:
          $ref: "#/components/schemas/UserRoleEnum"
      required:
        - email

    TemplateSchema:
      type: object
      properties:
        templateId:
          type: string
        bodyText:
          type: string
        header:
          type: object
          properties:
            headerType:
              type: string
            content:
              type: string
        footer:
          type: object
        content:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
        - templateId
        - bodyText
        - header
        - content
        - createdAt

    CampaignSchema:
      type: object
      properties:
        uniqueId:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          $ref: "#/components/schemas/CampaignStatusEnum"
        sentAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        scheduledAt:
          type: string
          format: date-time
        lists:
          type: array
          items:
            $ref: "#/components/schemas/ContactListSchema"
        templateMessageId:
          type: string
        isLinkTrackingEnabled:
          type: boolean
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagSchema"
      required:
        - uniqueId
        - name
        - status
        - lists
        - tags
        - isLinkTrackingEnabled
        - createdAt

    NewCampaignSchema:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        listIds:
          type: array
          items:
            type: string
        templateMessageId:
          type: string
        isLinkTrackingEnabled:
          type: boolean
        tags:
          type: array
          items:
            type: string
      required:
        - name
        - listIds
        - isLinkTrackingEnabled
        - tags

    UpdateCampaignSchema:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        listIds:
          type: array
          items:
            type: string
        templateMessageId:
          type: string
        enableLinkTracking:
          type: boolean
        tags:
          type: array
          items:
            type: string
      required:
        - name
        - listIds
        - enableLinkTracking
        - tags

    ConversationSchema:
      type: object
      properties:
        uniqueId:
          type: string
        contactId:
          type: string
        message:
          type: string
        createdAt:
          type: string
          format: date-time
      required:
        - uniqueId
        - contactId

    MessageSchema:
      type: object
      properties:
        uniqueId:
          type: string
        conversationId:
          type: string
        message:
          type: string
        direction:
          $ref: "#/components/schemas/MessageDirectionEnum"
        status:
          $ref: "#/components/schemas/MessageStatusEnum"
        message_type:
          $ref: "#/components/schemas/MessageTypeEnum"
        createdAt:
          type: string
          format: date-time
        content:
          type: object
