openapi: 3.0.0

servers:
  - description: WapiKit Server
    url: https://api.wapikit.com/api

info:
  version: "0.0.1"
  title: Wapikit
  description: The API collection for WapiKit
  license:
    name: AGPL-3.0
    url: https://github.com/sarthakjdev/wapikit/blob/master/LICENSE

tags:
  - name: Auth
    description: Auth API

  - name: Lists
    description: User API

  - name: Organization
    description: Organization API

  - name: Contacts
    description: Contacts API

  - name: Campaigns
    description: Campaigns API

  - name: Messages
    description: Messages API

  - name: Conversations
    description: Conversations API

  - name: System
    description: System API

  - name: Miscellaneous
    description: Miscellaneous API

paths:
  /health-check:
    get:
      tags:
        - Miscellaneous
      description: healthcheck endpoint
      operationId: getHealthCheck
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean

  /auth/login:
    post:
      tags:
        - Auth
      description: login endpoint
      operationId: login
      requestBody:
        description: login credentials
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequestBodySchema"
      responses:
        "200":
          description: login response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponseBodySchema"

        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /user:
    get:
      tags:
        - User
      description: returns the user object
      operationId: getUser
      responses:
        "200":
          description: user object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserResponseSchema"

  /auth/api-keys:
    get:
      tags:
        - Auth
      description: returns all api keys
      operationId: getApiKeys
      responses:
        "200":
          description: api keys list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApiKeysResponseSchema"

  /auth/switch:
    post:
      tags:
        - Auth
      description: switch user organization
      operationId: switchOrganization
      requestBody:
        description: organization id
        content:
          application/json:
            schema:
              type: object
              properties:
                organizationId:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SwitchOrganizationResponseSchema"

  /organization:
    post:
      tags:
        - Organization
      description: create a new organization
      operationId: createOrganization
      requestBody:
        description: new organization info
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string

      responses:
        "200":
          description: organization object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewOrganizationResponseSchema"

    get:
      tags:
        - Organization
      description: returns all organizations
      operationId: getOrganizations
      responses:
        "200":
          description: organizations list
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizations:
                    type: array
                    items:
                      $ref: "#/components/schemas/OrganizationSchema"

  /organization/{id}:
    get:
      tags:
        - Organization
      description: returns the organization object
      operationId: getOrganization
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization you want to get.
          schema:
            type: string
      responses:
        "200":
          description: organization object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationResponseSchema"

  /organization/roles:
    get:
      tags:
        - Organization
      description: returns all organization roles
      operationId: getAllOrganizationRoles
      responses:
        "200":
          description: organization roles list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationRolesResponseSchema"

    post:
      tags:
        - Organization
      description: create a new organization role
      operationId: createOrganizationRole
      requestBody:
        description: new organization role info
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                value:
                  type: string

      responses:
        "200":
          description: role object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateNewRoleResponseSchema"

  /organization/roles/{id}:
    get:
      tags:
        - Organization
      description: returns a single organization role
      operationId: getOrganizationRoleById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the role you want to get.
          schema:
            type: string
      responses:
        "200":
          description: organization role object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRoleByIdResponseSchema"

    post:
      tags:
        - Organization
      description: updates a organization role
      operationId: updateOrganizationRoleById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the role you want to update.
          schema:
            type: string
      requestBody:
        description: update an organization role info
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                value:
                  type: string

      responses:
        "200":
          description: role object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateRoleByIdResponseSchema"

    delete:
      tags:
        - Organization
      description: delete an organization role
      operationId: deleteOrganizationRoleById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization role you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteRoleByIdResponseSchema"

  /organization/settings:
    get:
      tags:
        - Organization
      description: returns all settings
      operationId: getSettings
      responses:
        "200":
          description: settings list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationSettingsResponseSchema"

    post:
      tags:
        - Organization
      description: updates organization setting
      operationId: updateSettings
      requestBody:
        description: updated setting info
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                value:
                  type: string

      responses:
        "200":
          description: setting object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateOrganizationSettingsResponseSchema"

  /organization/members:
    get:
      tags:
        - Organization
      description: returns all organization members
      operationId: getOrganizationMembers
      responses:
        "200":
          description: organization members list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationMembersResponseSchema"

    post:
      tags:
        - Organization Members
      description: create a new organization member
      operationId: createOrganizationMember
      requestBody:
        description: new organization member info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewOrganizationMemberSchema"

      responses:
        "200":
          description: user object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOrganizationMemberResponseSchema"

  /organization/members/{id}/roles:
    get:
      tags:
        - Organization Members
      description: returns all roles of an organization member
      operationId: getOrganizationMemberRoles
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization member you want to get the roles for.
          schema:
            type: string
      responses:
        "200":
          description: organization member roles list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationMemberRolesResponseSchema"

  /organization/members/{id}:
    get:
      tags:
        - Organization Members
      description: returns a single organization member
      operationId: getOrganizationMemberById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization member you want to get.
          schema:
            type: string
      responses:
        "200":
          description: organization member object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrganizationMemberByIdResponseSchema"

    post:
      tags:
        - Organization Members
      description: update a organization member
      operationId: updateOrganizationMemberById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization member you want to update.
          schema:
            type: string
      requestBody:
        description: updated organization member info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewOrganizationMemberSchema"

      responses:
        "200":
          description: user object
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UpdateOrganizationMemberByIdResponseSchema"

    delete:
      tags:
        - Organization Members
      description: delete an organization member
      operationId: deleteOrganizationMemberById
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the organization member you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteOrganizationMemberByIdResponseSchema"

  /organization/syncTemplates:
    get:
      tags:
        - Miscellaneous
      description: returns all templates
      operationId: getAllTemplates
      responses:
        "200":
          description: templates list
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      type: object
                      properties:
                        uniqueId:
                          type: string
                        name:
                          type: string
                        content:
                          type: string
                        type:
                          type: string
                        createdAt:
                          type: string
                          format: date-time

  /organization/syncMobileNumbers:
    get:
      tags:
        - Miscellaneous
      description: returns all mobile numbers
      operationId: getAllMobileNumbers
      responses:
        "200":
          description: mobile numbers list
          content:
            application/json:
              schema:
                type: object
                properties:
                  mobileNumbers:
                    type: array
                    items:
                      type: object
                      properties:
                        uniqueId:
                          type: string
                        number:
                          type: string
                        createdAt:
                          type: string
                          format: date-time

  /contacts:
    get:
      tags:
        - Contacts
      description: returns all contacts.
      operationId: getContacts
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: list_id
          description: query subscribers with a list id.
          schema:
            type: string
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: sort by a field
          schema:
            type: string

      responses:
        "200":
          description: contacts list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactsResponseSchema"
    post:
      description: handles creation of new contact
      operationId: createContact
      tags:
        - Contacts
      requestBody:
        description: new contact info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewContactSchema"

      responses:
        "200":
          description: contact object
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ContactSchema"

        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

    delete:
      description: handles contact deletion
      operationId: deleteContactsByList
      tags:
        - Contacts
      parameters:
        - in: query
          name: id
          required: true
          description: contact id/s to be deleted
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  "/contacts/{id}":
    get:
      description: handles the retrieval of a single contact by id.
      operationId: getContactById
      tags:
        - Contacts
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the contact you want to get.
          schema:
            type: string
      responses:
        "200":
          description: gets a single contact.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    put:
      description: modify contact data
      operationId: updateContactById
      tags:
        - Contacts
      parameters:
        - in: path
          name: id
          required: true
          description: The id of contact to update
          schema:
            type: string
      requestBody:
        description: updated contact info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContactSchema"
      responses:
        "200":
          description: returns updated contact.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ContactSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    delete:
      description: handles contact deletion based on id
      operationId: deleteContactById
      tags:
        - Contacts
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the contacts you want to delete.
          schema:
            type: string

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /lists:
    get:
      tags:
        - Lists
      description: returns all lists.
      operationId: getContactLists
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"

      responses:
        "200":
          description: list of contact lists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactListResponseSchema"
    post:
      description: handles creation of new list
      operationId: createList
      tags:
        - Lists
      requestBody:
        description: new list info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewContactListSchema"

      responses:
        "200":
          description: list object
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ContactListSchema"

        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  "/lists/{id}":
    get:
      description: handles the retrieval of a single list by id.
      operationId: getListById
      tags:
        - Lists
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the list you want to get.
          schema:
            type: string # uniqueId

      responses:
        "200":
          description: gets a single list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactListByIdSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

    put:
      description: modify list data
      operationId: updateListById
      tags:
        - Lists
      parameters:
        - in: path
          name: id
          required: true
          description: The id of list to update
          schema:
            type: string
      requestBody:
        description: updated list info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContactListSchema"
      responses:
        "200":
          description: returns updated list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ContactListSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

    delete:
      description: handles list deletion based on id
      operationId: deleteListById
      tags:
        - Lists
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the list you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /campaigns:
    get:
      tags:
        - Campaigns
      description: returns all campaigns.
      operationId: getCampaigns
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: sort by a field
          schema:
            $ref: "#/components/schemas/CampaignStatusEnum"

      responses:
        "200":
          description: list of campaigns
          content:
            application/json:
              schema:
                type: object
                $ref: "#/components/schemas/GetCampaignResponseSchema"

    post:
      description: handles creation of new campaign
      operationId: createCampaign
      tags:
        - Campaigns
      requestBody:
        description: new campaign info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewCampaignSchema"

      responses:
        "200":
          description: campaign object
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CampaignSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  "/campaigns/{id}":
    get:
      description: handles the retrieval of a single campaign by id.
      operationId: getCampaignById
      tags:
        - Campaigns
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the campaign you want to get.
          schema:
            type: string # uniqueId

      responses:
        "200":
          description: gets a single campaign.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCampaignByIdResponseSchema"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    put:
      description: modify campaign data
      operationId: updateCampaignById
      tags:
        - Campaigns
      parameters:
        - in: path
          name: id
          required: true
          description: The id of campaign to update
          schema:
            type: string
      requestBody:
        description: updated campaign info
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCampaignSchema"
      responses:
        "200":
          description: returns updated campaign.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CampaignSchema"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
    delete:
      description: handles campaign deletion based on id
      operationId: deleteCampaignById
      tags:
        - Campaigns
      parameters:
        - in: path
          name: id
          required: true
          description: The id value of the campaign you want to delete.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: boolean
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /conversations:
    get:
      tags:
        - Conversations
      description: returns all conversations.
      operationId: getConversations
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: sort by a field
          schema:
            type: string
            enum:
              - resolved
              - unresolved
        - name: contact_id
          in: query
          description: query conversations with a contact id.
          schema:
            type: string
        - name: campaign_id
          in: query
          description: query conversations with a campaign id.
          schema:
            type: string
        - name: list_id
          in: query
          description: query conversations with a list id.
          schema:
            type: string
        - name: message_id
          in: query
          description: query conversations with a message id.
          schema:
            type: string

      responses:
        "200":
          description: list of conversations
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversations:
                    type: array
                    items:
                      $ref: "#/components/schemas/ConversationSchema"
                  paginationMeta:
                    $ref: "#/components/schemas/PaginationMeta"

  /messages:
    get:
      tags:
        - Messages
      description: returns all messages.
      operationId: getMessages
      parameters:
        - in: query
          name: page
          description: number of records to skip
          schema:
            type: integer
            format: int64
        - in: query
          name: per_page
          description: max number of records to return per page
          schema:
            type: integer
            format: int64
        - in: query
          name: order
          description: order by asc or desc
          schema:
            $ref: "#/components/schemas/OrderEnum"
        - in: query
          name: status
          description: status of the message
          schema:
            type: string
            enum:
              - read
              - unread
              - sent
              - failed
        - in: query
          name: direction
          description: direction of the message
          schema:
            $ref: "#/components/schemas/MessageDirectionEnum"
        - name: contact_id
          in: query
          description: query messages with a contact id.
          schema:
            type: string
        - name: campaign_id
          in: query
          description: query messages with a campaign id.
          schema:
            type: string
        - name: list_id
          in: query
          description: query messages with a list id.
          schema:
            type: string
        - name: conversation_id
          in: query
          description: query messages with a conversation id.
          schema:
            type: string

      responses:
        "200":
          description: list of messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/MessageSchema"
                  paginationMeta:
                    $ref: "#/components/schemas/PaginationMeta"

components:
  schemas:
    OrderEnum:
      type: string
      enum:
        - asc
        - desc

    UserRoleEnum:
      type: string
      enum:
        - Owner
        - Admin
        - Member

    CampaignStatusEnum:
      type: string
      enum:
        - Draft
        - Sent
        - Scheduled
        - Running
        - Cancelled

    UserAccountStatusEnum:
      type: string
      enum:
        - Active
        - Deleted
        - Suspended

    MessageStatusEnum:
      type: string
      enum:
        - Read
        - Unread
        - Sent
        - Delivered
        - UnDelivered
        - Failed

    MessageDirectionEnum:
      type: string
      enum:
        - InBound
        - OutBound

    MessageTypeEnum:
      type: string
      enum:
        - Text
        - Image
        - Video
        - Audio
        - Document
        - Sticker
        - Location
        - Contacts
        - Reaction
        - Address

    UserSchema:
      type: object
      properties:
        uniqueId:
          type: string
        username:
          type: string
        email:
          type: string
        name:
          type: string
        createdAt:
          type: string
          format: date-time
        profilePicture:
          type: string
        currentOrganizationRole":
          type: string
        organizations:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationSchema"

    GetUserResponseSchema:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/UserSchema"

    OrganizationSchema:
      type: object
      properties:
        uniqueId:
          type: string
        name:
          type: string
        createdAt:
          type: string
          format: date-time

    OrganizationMemberSchema:
      type: object
      properties:
        uniqueId:
          type: string
        createdAt:
          type: string
          format: date-time
        role:
          $ref: "#/components/schemas/UserRoleEnum"

    LoginRequestBodySchema:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
      required:
        - username
        - password

    LoginResponseBodySchema:
      type: object
      properties:
        token:
          type: string
        isOnboardingCompleted:
          type: boolean

    ApiKeySchema:
      type: object
      properties:
        uniqueId:
          type: string
        key:
          type: string
        createdAt:
          type: string
          format: date-time

    GetApiKeysResponseSchema:
      type: object
      properties:
        apiKeys:
          type: array
          items:
            $ref: "#/components/schemas/ApiKeySchema"

    SwitchOrganizationResponseSchema:
      type: object
      properties:
        token:
          type: string

    GetCampaignResponseSchema:
      type: object
      properties:
        campaigns:
          type: array
          items:
            $ref: "#/components/schemas/CampaignSchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"

    GetContactListResponseSchema:
      type: object
      properties:
        lists:
          type: array
          items:
            $ref: "#/components/schemas/ContactListSchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"

    GetContactsResponseSchema:
      type: object
      properties:
        contacts:
          type: array
          items:
            $ref: "#/components/schemas/ContactSchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"

    GetContactByIdResponseSchema:
      type: object
      properties:
        contact:
          $ref: "#/components/schemas/ContactSchema"

    GetContactListByIdSchema:
      type: object
      properties:
        list:
          $ref: "#/components/schemas/ContactListSchema"

    GetCampaignByIdResponseSchema:
      type: object
      properties:
        campaign:
          $ref: "#/components/schemas/CampaignSchema"

    CreateNewOrganizationResponseSchema:
      type: object
      properties:
        organization:
          $ref: "#/components/schemas/OrganizationSchema"

    GetOrganizationResponseSchema:
      type: object
      properties:
        organization:
          $ref: "#/components/schemas/OrganizationSchema"

    DeleteOrganizationResponseSchema:
      type: object
      properties:
        data:
          type: boolean

    UpdateOrganizationResponseSchema:
      type: object
      properties:
        organization:
          $ref: "#/components/schemas/OrganizationSchema"

    GetOrganizationRolesResponseSchema:
      type: object
      properties:
        roles:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string

    GetOrganizationSettingsResponseSchema:
      type: object
      properties:
        settings:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string

    UpdateOrganizationSettingsResponseSchema:
      type: object
      properties:
        setting:
          type: object
          properties:
            key:
              type: string
            value:
              type: string

    GetOrganizationMembersResponseSchema:
      type: object
      properties:
        members:
          type: array
          items:
            $ref: "#/components/schemas/OrganizationMemberSchema"
        paginationMeta:
          $ref: "#/components/schemas/PaginationMeta"

    GetOrganizationMemberRolesResponseSchema:
      type: object
      properties:
        roles:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string

    GetOrganizationMemberByIdResponseSchema:
      type: object
      properties:
        member:
          $ref: "#/components/schemas/OrganizationMemberSchema"

    CreateOrganizationMemberResponseSchema:
      type: object
      properties:
        member:
          $ref: "#/components/schemas/OrganizationMemberSchema"

    UpdateOrganizationMemberByIdResponseSchema:
      type: object
      properties:
        member:
          $ref: "#/components/schemas/OrganizationMemberSchema"

    DeleteOrganizationMemberByIdResponseSchema:
      type: object
      properties:
        data:
          type: boolean

    GetRoleByIdResponseSchema:
      type: object
      properties:
        role:
          type: object
          properties:
            key:
              type: string
            value:
              type: string

    CreateNewRoleResponseSchema:
      type: object
      properties:
        role:
          type: object
          properties:
            key:
              type: string
            value:
              type: string

    UpdateRoleByIdResponseSchema:
      type: object
      properties:
        role:
          type: object
          properties:
            key:
              type: string
            value:
              type: string

    DeleteRoleByIdResponseSchema:
      type: object
      properties:
        data:
          type: boolean

    ContactSchema:
      type: object
      properties:
        uniqueId:
          type: string
        name:
          type: string
        phone:
          type: string
        attributes:
          type: object
        createdAt:
          type: string
          format: date-time
        lists:
          type: array
          items:
            $ref: "#/components/schemas/ContactListSchema"

    NewContactSchema:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        attributes:
          type: object

    NewOrganizationSchema:
      type: object
      properties:
        name:
          type: string

    NewRoleSchema:
      type: object
      properties:
        name:
          type: string
        value:
          type: string

    UpdateContactSchema:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        attributes:
          type: object

    TagSchema:
      type: object
      properties:
        name:
          type: string
        uniqueId:
          type: string

    ContactListSchema:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        numberOfContacts:
          type: integer
        numberOfCampaignsSent:
          type: integer
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagSchema"
        uniqueId:
          type: string
        createdAt:
          type: string
          format: date-time

    NewContactListSchema:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagSchema"

    UpdateContactListSchema:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagSchema"

    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          format: int64
        per_page:
          type: integer
          format: int64
        total:
          type: integer

    NewOrganizationMemberSchema:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        password:
          type: string
        role:
          $ref: "#/components/schemas/UserRoleEnum"

    UpdateOrganizationMemberSchema:
      type: object
      properties:
        username:
          type: string
        email:
          type: string
        password:
          type: string
        role:
          $ref: "#/components/schemas/UserRoleEnum"

    CampaignSchema:
      type: object
      properties:
        uniqueId:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          $ref: "#/components/schemas/CampaignStatusEnum"
        sentAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        scheduledAt:
          type: string
          format: date-time
        lists:
          type: array
          items:
            $ref: "#/components/schemas/ContactListSchema"
        templateMessageId:
          type: string
        isLinkTrackingEnabled:
          type: boolean
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagSchema"

    NewCampaignSchema:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        listIds:
          type: array
          items:
            type: string
        templateMessageId:
          type: string
        enableLinkTracking:
          type: boolean
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagSchema"

    UpdateCampaignSchema:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        listId:
          type: string
        templateMessageId:
          type: string
        enableLinkTracking:
          type: boolean
        tags:
          type: array
          items:
            $ref: "#/components/schemas/TagSchema"

    ConversationSchema:
      type: object
      properties:
        uniqueId:
          type: string
        contactId:
          type: string
        message:
          type: string
        createdAt:
          type: string
          format: date-time

    MessageSchema:
      type: object
      properties:
        uniqueId:
          type: string
        conversationId:
          type: string
        message:
          type: string
        direction:
          $ref: "#/components/schemas/MessageDirectionEnum"
        status:
          $ref: "#/components/schemas/MessageStatusEnum"
        message_type:
          $ref: "#/components/schemas/MessageTypeEnum"
        createdAt:
          type: string
          format: date-time
        content:
          type: object
